body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  color: #484848;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}